<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript" src="./lib/plugins/firenews/templates/editnews/editnewsTemplate.js"></script>
<link href="./lib/plugins/firenews/templates/editnews/editnewsTemplate.css" type="text/css" rel="stylesheet" />
<h1> {{firenews_editnews_header}} </h1>
<div class="container">{{NEWS}}</div>
<div style="display: none">
    {{ script_placeholder }}
</div>
<div class="save-message">
    <a class="save-message-message">{{firenews_editnews_message_save}}</a>
</div>
<div class="delete-message">
    <a class="delete-message-message">{{firenews_editnews_message_delete}}</a>
</div>